<section class="h-screen flex">
  <div class="w-2/12 border-red-500 border-2">
    <div class="flex justify-between m-4 border-cyan-600 border-2">
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
        <path stroke-linecap="round" stroke-linejoin="round" d="M6 18 18 6M6 6l12 12" />
      </svg>
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
        <path stroke-linecap="round" stroke-linejoin="round" d="M2.25 12.76c0 1.6 1.123 2.994 2.707 3.227 1.068.157 2.148.279 3.238.364.466.037.893.281 1.153.671L12 21l2.652-3.978c.26-.39.687-.634 1.153-.67 1.09-.086 2.17-.208 3.238-.365 1.584-.233 2.707-1.626 2.707-3.228V6.741c0-1.602-1.123-2.995-2.707-3.228A48.394 48.394 0 0 0 12 3c-2.392 0-4.744.175-7.043.513C3.373 3.746 2.25 5.14 2.25 6.741v6.018Z" />
      </svg>      
    </div>  
    <div class="flex flex-col p-5 border-yellow-500 border-2" style="height: 91%;">
      <h1>hee</h1>
    </div> 
  </div>
  <div class="w-10/12 border-blue-500 border-2">
    <nav class="flex justify-between items-center mx-4 mt-2">
      <span class="text-xl font-bold">ChatGPT</span>
      <img src="https://avatars.githubusercontent.com/u/78411923?v=4" alt="" class="rounded-full h-10">
    </nav>
    <div class="border-green-950 border-2 flex justify-center" style="height: 83%;">
      <div class="w-6/12 border-black border-2" style="height: 100%;">

      </div>
    </div>
    <div class="flex justify-center items-start" style="height: 10%;">
      <div class="border-red-800 border-2 rounded-3xl w-7/12 flex items-center justify-evenly">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
          <path stroke-linecap="round" stroke-linejoin="round" d="m18.375 12.739-7.693 7.693a4.5 4.5 0 0 1-6.364-6.364l10.94-10.94A3 3 0 1 1 19.5 7.372L8.552 18.32m.009-.01-.01.01m5.699-9.941-7.81 7.81a1.5 1.5 0 0 0 2.112 2.13" />
        </svg>        
        <textarea placeholder="Message ChatGPT" name="Search" id="" class="w-10/12"></textarea>
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
          <path stroke-linecap="round" stroke-linejoin="round" d="M4.5 10.5 12 3m0 0 7.5 7.5M12 3v18" />
        </svg>        
      </div>
    </div>
  </div>
</section>
<router-outlet/>